* {
    margin: 0px 0px 10px 5px;
    padding: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: lightgrey;
}
body {
  overflow-wrap: break-word;
}
span {
  color: red;
}
u {
  margin: 0px;
}
details {
  margin-left: 10px;
}
.bizu {
  font-weight: bold;
  color: blueviolet;
}
.ex{
  font-style: italic;
  color: green;
}
.anotacao {
  color: chocolate;
}
.stf {
  font-weight: bold;
  color: royalblue;
}
.h1 {
  font-size: 25px;
}
.h2 {
  font-size: 24px;
}
.h3 {
  font-size: 23px;
}
.h4 {
  font-size: 22px;
}
.h5 {
  font-size: 21px;
}
.h6 {
  font-size: 20px;
}
.h7 {
  font-size: 19px;
}
.h8 {
  font-size: 18px;
}